<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Todo Item</h1>
    <form method="POST" action="add">
        <!-- This token is a randomly generated unique value which will be added
        to the form as a hidden input field when the forms submitted. And works
        to guarantee that the data we're posting is actually coming from our
        todo list app and not from another website. -->
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name: </label>
                <!-- The name attribute of this input is the name we'll use to access
                the input's value in our view function. The ID attribute is the 
                way that we can identify it on the page to apply its label CSS and so on. -->
                <input type="text" name="item_name" id="id_name">
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done: </label>
                <input type="checkbox" name="done" id="id_done">
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>    

</body>
</html>