<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Todo Item</h1>
    <form method="POST" action="add">
        <!-- This token is a randomly generated unique value which will be added
        to the form as a hidden input field when the forms submitted. And works
        to guarantee that the data we're posting is actually coming from our
        todo list app and not from another website. -->
        {% csrf_token %}
        <!-- rendering form from forms.py. Using the Django form built-in method
        .as_p to display the form as paragraps -->
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>    

</body>
</html>